// Grid
$gutter: 20px;
$padding: 0 40px;
$width: 1200px;
$columns: 12;
$column-width: ($width - $columns * $gutter) / $columns;

.container {
  display: grid;
  grid-template-columns: repeat(
    $columns,
    $column-width
  );
  grid-column-gap: $gutter;
  justify-content: center;
  width: $width;
  margin: 0 auto;
  padding: $padding;
}

@for $i from 1 through $columns {
  .grid_#{$i} { grid-column: span $i; }
}

[class*=push_],
[class*=pull_] {
  position: relative;
}

@for $i from 1 through $columns {
  .push_#{$i} { right: $i * ($column-width + $gutter) * -1; }
}

@for $i from 1 through $columns {
  .pull_#{$i} { left: $i * ($column-width + $gutter) * -1; }
}

/* Small devices (480px and down) */
@media (max-width: 480px) {
  .container {
    display: grid;
    grid-template-columns: repeat(
      ($columns / 4),
      ($column-width / 4)
    );
    grid-column-gap: ($gutter / 4);
    justify-content: center;
    width: ($width / 4);
    margin: 0 auto;
    padding: ($padding / 4);
  }
}

/* Medium devices (481px and up) */
@media (min-width: 481px) {

}

.grid-col {
  border: 1px solid #fff;
  padding: 10px 0;
  margin: 10px 0;
}

.color_block {
  &.fuchsia {
    background-color: $fuchsia;
    height: 20px;
    margin-top: -20px;
  }
  &.yellow {
    background-color: $yellow;
    height: 20px;
    margin-top: -7px;
  }
}
