---
title: JM
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

{% include head.html %}
<body>
{% include header.html %}
<h3 class="about-main col-2-1">Hey! I’m James Madson, an independent designer based in <a href="https://www.youtube.com/watch?v=Dtf1flP0R1A">Flagstaff, Arizona</a>. I care about health & wellness and work with organizations focused on making the world better.</h3>

<p class="col-2-3">I’m interested in well-being, mountains, and volunteering; I taught 20+ kids how to make a website this past summer.</p>

<!--<img src="{{ "/assets/img/mtbaker-pano.jpg" | prepend: site.baseurl }}" class="col-full photo"/>-->

<div class="col-full">
  <h2>Available for hire</h2>

  <p>I work with brands like UGG, Hoka OneOne and Xprize, as well as contracting with agencies and startups.</p>
  <a href="mailto:james@jamesmadson.me">Contact Me</a>

  <ul class="brands-list">
    <li><a href=""><img src="{{ "/assets/img/ugg.svg" | prepend: site.baseurl }}" alt="UGG" /></a></li>
    <li><a href=""><img src="{{ "/assets/img/hokaoneone.svg" | prepend: site.baseurl }}" alt="Hoka One One" /></a></li>
    <li><a href=""><img src="{{ "/assets/img/xprize.svg" | prepend: site.baseurl }}" alt="Xprize" /></a></li>
  </ul>
</div>

<footer class="col-full">
  <a href="#">Get in touch</a>

  <ul class="social-list">
    <li><a href="http:www.twitter.com/jamesmadson">Twitter</a></li>
    <li><a href="http:www.dribbble.com/jamesmadson">Dribbble</a></li>
    <li><a href="http:www.instagram.com/jamesmadson">Instagram</a></li>
  </ul>
</footer>
