// James Madson
// jamesmadson.me
// LESS

@import "variables.less";
@import "mixins.less";
@import "typography.less";
@import "animations.less";

body {
	background-color: @lightgrey;
  padding: 2.5%;
}

.headroom--unpinned {
  .transition(0.5s);
}

.headroom {
  position: fixed;
  z-index: 10;
  right: 0;
  left: 0;
  top: 0;
  background-color: @lightgrey;
  height: 50px;
  .transition(0.5s);

  &.headroom--not-top {
    background: rgba(245,245,245,0.8);
    .transition(0.5s);
  }

  .jm-nav {
    a {
      text-decoration: none;

      &:hover, &:active {
        text-decoration: none;

        h1 {
        }
      }

      h1 {
        width: 2em;
        height: 1.75em;
        margin: 0 auto;
        padding: 0.15em 0 0.05em 0;
        font-size: 3em;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: @black;
        color: @white;
        text-align: center;
        z-index: 102;
      }
    }
  }
}

#portfolio {
  display: block;

  .project {
    color: @white;
    display: inline-block;
    float: left;
    width: 45%;
    padding: 2.5%;
    height: 30em;
    text-decoration: none;
    background-size: 100%;
    .transition(0.3s);

    h1 {
      margin-bottom: 0.25em;
    }

    .ss-icon {
      float: right;
      .opacity(0.5);
    }

    .underline {
      width: 5%;
      height: 0.5em;
      background: @white;
      display: block;
      margin-bottom: 0.5em;
    }

    p, h5, ul {
      color: transparent;
      margin-left: -5%;
      .transition(0.3s);
    }

    &:hover, &.hover {
      width: 40%;
      padding: 2.5% 5%;
      .transition(0.3s);

      .underline {
        width: 40%;
        .transition(0.8s);
      }

      p, h5, ul {
        margin-left: 0;
        color: @white;
        .transition(0.3s);
      }
    }
  }

  .jauntly {
    background-color: @jauntly;
    position: relative;
    .opacity(0.8);
    
    &::after {
      content: "";
      background-image: url('img/jauntly/new-jauntly-nav-dribbble-x2.jpg') ;
      opacity: 0.7;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1; 
      .transition(0.3s);  
    }

    &:hover, &.hover {
      background-color: @jauntly_dark;
      .opacity(0.95);

      &::after {
        background-image: url('img/jauntly/new-jauntly-nav-dribbble-x2.jpg') ;
        .opacity(0.3);
      }
    }
  }

  .ans {
    background-color: @ans;
    background-image: url('img/ans/_0000_homepage.jpg');

    &:hover, &.hover {
      background-color: @ans_dark;
    }
  }
  
  .treadhub {
    background-color: @treadhub;
    background-image: url('img/treadhub/Treadhub-desktop.png');

    &:hover, &.hover {
      background-color: @treadhub_dark;
    }
  }
  
  .swiftkick {
    background-color: @swiftkick;
    background-image: url('img/swiftkick/swiftkick-dribbble-x2.jpg');

    &:hover, &.hover {
      background-color: @swiftkick_dark;
    }
  }
}

// Extras
@import "square_menu.less";

// Media Queries
@import "320.less";
@import "480.less";
@import "600.less";
@import "768.less";
@import "992.less";
@import "1382.less";
