// James Madson
// jamesmadson.me
// LESS

@import "variables.less";
@import "mixins.less";

body {
	font-family: 'Helvetica', Arial, Sans-Serif;
}

code, pre, .pre {
  padding: 5px;
  margin: 10px 0;
  background-color: #EFEFEF;
  border: 1px solid #DADADA;
  border-radius: 3px;
}

code {
  padding: 0 3px;
}

pre {
  margin: 10px 0;
  padding: 5px;
}

// Headings
h1, h2, h3, h4, h5 {
	text-transform: uppercase;
}
h1, h2 {
	letter-spacing: 2px;
}
h3, h4, h5 {
	letter-spacing: 1px;
}
