// James Madson
// jamesmadson.me
// LESS

@import "variables.less";
@import "mixins.less";
@import "typography.less";
@import "animate-mixins.less";
@import "animations.less";


* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

::selection {
  background: @lightgrey; /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: @lightgrey; /* Gecko Browsers */
}

button, input, textarea {
  &:focus {
    outline:0;
  }
}

body {
	background-color: @lightgrey;
  padding: 2.5%;
}

.headroom--unpinned {
  .transition(0.5s);
}

.headroom {
  position: fixed;
  z-index: 10;
  right: 0;
  left: 0;
  top: 0;
  background-color: transparent;
  height: 3em;
  .transition(0.5s);

  &.headroom--not-top {
    background: rgba(245,245,245,0.8);
    .transition(0.5s);
  }

  .jm-nav {
    a {
      text-decoration: none;

      &:hover, &:active {
        text-decoration: none;

        h1 {
          .animated;
          .pulse;
        }
      }

      h1 {
        width: 2em;
        height: 1.5em;
        margin: 0 auto;
        padding: 0.225em 0.04em 1.75em 0.025em;
        font-size: 6em;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: @black;
        color: @white;
        text-align: center;
        z-index: 102;
      }
    }
  }
}

#projects {
  display: block;
  margin-bottom: 5em;

  .project {
    color: @white;
    display: inline-block;
    float: left;
    width: 50%;
    padding: 5%;
    height: 30em;
    text-decoration: none;
    background-size: 100%;
    .transition(0.3s);

    h1 {
      margin: 0.25em 0;
      font-size: 4em;
    }

    .ss-icon {
      float: right;
      .opacity(0.5);
    }

    .underline {
      width: 5%;
      height: 0.5em;
      background: @white;
      display: block;
      margin-bottom: 0.5em;
    }

    p, h5, ul {
      color: transparent;
      margin-left: -5%;
      .transition(0.3s);
    }

    &:hover, &.hover {
      width: 50%;
      padding: 5% 7.5%;
      .transition(0.3s);

      .underline {
        width: 40%;
        .transition(0.8s);
      }

      p, h5, ul {
        margin-left: 0;
        color: @white;
        .transition(0.3s);
      }
    }
  }

  .jauntly {
    background-color: @jauntly;
    position: relative;
    .opacity(0.8);
    
    &::after {
      content: "";
      background-image: url('img/jauntly/800x600-jauntly-nav.jpg') ;
      opacity: 0.7;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1; 
      .transition(0.3s);  
    }

    &:hover, &.hover {
      background-color: @jauntly_dark;
      .opacity(0.95);

      &::after {
        background-image: url('img/jauntly/800x600-jauntly-nav.jpg') ;
        .opacity(0.1);
      }
    }
  }

  .ans {
    background-color: @ans;
    position: relative;
    .opacity(0.8);
    
    &::after {
      content: "";
      background-image: url('img/jauntly/800x600-jauntly-nav.jpg') ;
      opacity: 0.7;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1; 
      .transition(0.3s);  
    }

    &:hover, &.hover {
      background-color: @ans_dark;
      .opacity(0.95);

      &::after {
        background-image: url('img/jauntly/800x600-jauntly-nav.jpg') ;
        .opacity(0.1);
      }
    }
  }


  .eugixd {
    background-color: @eugixd;
    position: relative;
    .opacity(0.8);
    
    &::after {
      content: "";
      background-image: url('img/jauntly/800x600-jauntly-nav.jpg') ;
      opacity: 0.7;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1; 
      .transition(0.3s);  
    }

    &:hover, &.hover {
      background-color: @eugixd_dark;
      .opacity(0.95);

      &::after {
        background-image: url('img/jauntly/800x600-jauntly-nav.jpg') ;
        .opacity(0.1);
      }
    }
  }
  
  .treadhub {
    background-color: @treadhub;
    position: relative;
    .opacity(0.8);
    
    &::after {
      content: "";
      background-image: url('img/jauntly/800x600-jauntly-nav.jpg') ;
      opacity: 0.7;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1; 
      .transition(0.3s);  
    }

    &:hover, &.hover {
      background-color: @treadhub_dark;
      .opacity(0.95);

      &::after {
        background-image: url('img/jauntly/800x600-jauntly-nav.jpg') ;
        .opacity(0.1);
      }
    }
  }
  
  .swiftkick {
    background-color: @swiftkick;
    position: relative;
    .opacity(0.8);
    
    &::after {
      content: "";
      background-image: url('img/jauntly/800x600-jauntly-nav.jpg') ;
      opacity: 0.7;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1; 
      .transition(0.3s);  
    }

    &:hover, &.hover {
      background-color: @swiftkick_dark;
      .opacity(0.95);

      &::after {
        background-image: url('img/jauntly/800x600-jauntly-nav.jpg') ;
        .opacity(0.1);
      }
    }
  }
}

nav.sidenav {
  list-style: none;
  position: relative;
  display: block;
  z-index: 100;
    
  a {
    position: fixed;
    top: 5em;
    min-height: 1em;
    padding: 0.125em 0 0.125em 0;
    font-size: 4em;
    color: rgba(0,0,0,0.3);
    text-decoration: none;
    overflow: visible;
    .transition(0.5s);

    .ss-icon {
      vertical-align: middle;
      display: inline-block;
    }

    span {
      display: inline-block;
      color: transparent;
      font-size: 1em;
      font-weight: bold;
      //text-transform: lowercase;
    }

    &.previous {
      left: 0;
      padding-right: 0.5em;
    }

    &.next {
      right: 0;
      padding-left: 0.5em;
    }

    &.home {
      left: 0;
      margin-top: -2em;
      padding-right: 0.5em;
    }

    &:hover {
      color: @black;
      background: @white;
      .transition(0.5s);

      &.previous span {
        .fadeInLeft;
      }

      &.next span {
        .fadeInRight;
      }

      span {
        color: @black;
        .animated;
      } 
    }
  }
}

#project-detail {

  .top-detail {
    padding: 2em 4em 0 4em;
    margin-bottom: -10em;
    border: 0;
    display: block;
    height: 26em;
    z-index: -5;
    position: relative;


    &.jauntly {
      background-color: @jauntly;
    }

    &.ans {
      background-color: @ans;
    }
    
    &.swiftkick {
      background-color: @swiftkick;
    }
    
    &.treadhub {
      background-color: @treadhub;
    }
    
    &.eugixd {
      background-color: @eugixd;
    }

    h1 {
      font-size: 6.5em;
      color: @white;
      padding-left: 0.5em;
      margin: 0;
      display: block;
      width: 7em;
      overflow: hidden;
    }

    .underline {
      width: 15%;
      height: 1em;
      background: @white;
      display: block;
    }

    .desc {
      display: block;
      float: right;
      width: 16em;
      min-height: 5em;
      padding: 0.5em 1em;
      background: @white;
      margin-right:1em;
      font-size: 2.75em;
    }
  }
  
  .product-pieces {
    max-width: 1595px;
    //overflow: hidden;

    .piece {
      width:  320px;
      //height: 320px;
      //float: left;
      .transition(0.5s);

      &:after {
        content: '';
        display: block;
        clear: both;
      }
      
      &:hover {
        //cursor: pointer;

        .text {
          margin: 0 2.5% 0 2.5%;
          .opacity(1);
          .transition(0.5s);
        }

        img {
        }
      }

      img {
        width: 100%;
      }

      .text {
        bottom: 0em;
        .opacity(0.5);
        background: @white;
        position: absolute;
        height: 4em;
        color: @black;
        width: 95%;
        padding: 2% 2.5%;
        margin: 0 2.5% -2em 2.5%;
        .transition(0.5s);
      }

      &.textquote {
        width: 160px;
        background-color: @white;
        padding: 1em;

        p {
          font-size: 2em;
          color: @black;        
        }
      }
      
      &.xs {
        width: 160px;
      }

      &.sm {
        width: 320px;
      }

      &.md {
        width: 640px;
      }

      &.lg {
        width: 1280px;
      }

      &.gigante {
        width: 640px;
        //height: 640px;
      }
      // Height Half
      &.hh {
        //height: 160px;
      }
    }
  }
}

// Extras
@import "square_menu.less";

// Media Queries
@import "320.less";
@import "480.less";
@import "600.less";
@import "768.less";
@import "992.less";
@import "1382.less";
