/**
 * These are the variables used throughout the application. This is where 
 * overwrites that are not specific to components should be maintained.
 */


/**
 * Color-related.
 */
@blue:      #177BEC;
@lightblue: lighten(#0066FF,10%);
@darkblue:  darken(#0066FF,10%);

@white:     #FFFFFF;
@black:     #000000;
@lightgrey: #EBEBEB;
@grey:      #CCCCCC;
@darkgrey:  #666666;

@red:       #E74C3C;
@darkred:   #BD3B21;
@orange:    #E38000;
@darkorange:#CE5600;
@yellow:    #EFC500;
@darkyellow:#F09E00;
@green:     #4CAF50;
@darkgreen: #308033;

/**
 * Typography-related.
 */

@sansFontFamily: 'Roboto', sans-serif;

