// jm Colors
@white:           #FFFFFF;
@black:           #000000;
@lightgrey:       #F9F9F9;
@grey:            #CCCCCC;
@darkgrey:        #666666;


// AnS
@ans:             #177BEC;
@ans_light:       lighten(#0066FF,10%);
@ans_dark:        darken(#0066FF,10%);

// Treadhub
@treadhub:        #BC3124;
@treadhub_dark:   darken(@treadhub, 15%);

// Swiftkick
@swiftkick:       #2ecc71;
@swiftkick_dark:  #27ae60;

// Jauntly
@jauntly:         #d94935;
@jauntly_dark:    darken(@jauntly, 15%);
@activity:        #ebad1d;
@activity_dark:   #c48e11;
@mood:            #e96a3f;
@mood_dark:       #dc4a19;
@food:            #9daa3a;
@food_dark:       #7a842d;
@sleep:           #7bc1bf;
@sleep_dark:      #58b1ae;

// Social Media
@facebook:        #3a5792;
@twitter:         #03a7e5;
@google:          #d54a39;
@instagram:       #517fa4;
@tumblr:          #32506d;
