<footer class="site_footer">
  <div class="container">
    <span class="site_footer_name">James Madson 2026</span>
    <span class="site_footer_tagline">Make something beautiful today.</span>
  </div>
</footer>
