<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="color-scheme" content="light dark">
  <title>{% if title %}{{ title }} | {{ site.title | default('James Madson') }}{% else %}{{ site.title | default('James Madson') }}{% endif %}</title>
  <meta name="description" content="Independent designer & developer.">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <link rel="icon" type="image/svg+xml" href="/icons/favicon.svg?v=2">
  <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png?v=2">
  <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png?v=2">
  <link rel="shortcut icon" href="/icons/favicon.ico?v=2">
  <link rel="stylesheet" href="/assets/css/styles.css?v={{ build.version }}">
</head>
