<header>
  <div class="container nav_container fadeIn">
    <a href="{{ '/' | url }}">
      <h1 class="nav_title">JM</h1>
    </a>
    <nav class="nav_large">
      <ul>
        <li><a href="{{ '/about.html' | url }}">About</a></li>
        <li><a href="{{ '/work.html' | url }}">Work</a></li>
      </ul>
    </nav>
  </div>
</header>
