// jm Colors
@white:           #ffffff;
@black:           #282829;
@lightgrey:       #f9f9f9;
@grey:            #999999;
@darkgrey:        #666666;

// AnS
@ans:             #177bec;
@ans_light:       lighten(#0066ff,10%);
@ans_dark:        darken(#0066ff,10%);

// Treadhub
@treadhub:        #bc3124;
@treadhub_dark:   darken(@treadhub, 15%);

// Swiftkick
@swiftkick:       #2ecc71;
@swiftkick_dark:  #27ae60;

// Jauntly
@jauntly:         #d94935;
@jauntly_bg:      #efece3;
@jauntly_dark:    darken(@jauntly, 15%);
@activity:        #ebad1d;
@activity_dark:   #c48e11;
@mood:            #e96a3f;
@mood_dark:       #dc4a19;
@food:            #9daa3a;
@food_dark:       #7a842d;
@sleep:           #7bc1bf;
@sleep_dark:      #58b1ae;

// Eugene IxD
@eugixd:                #7d9d38;
@eugixd_dark:           darken(@eugixd, 10%);

// Twenty Ideas
@twentyideas:           #8dc63f;
@twentyideas_dark:      darken(@twentyideas, 10%);
@twentyideas_blue:      #26a9e0;
@twentyideas_orange:    #f16522;

// Ampersand
@ampersand:             #E54A1D;

// Immersion
@immersion:             #00babc;

// Chefs Table
@chefstable:            #282829;

// Bliphub
@bliphub:               #4D9FC4;

// Social Media
@facebook:              #3a5792;
@twitter:               #03a7e5;
@google:                #d54a39;
@instagram:             #517fa4;
@tumblr:                #32506d;