<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>James Madson | About</title>
    <meta name="description" content="James Madson is a web designer travelling the world.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="57x57" href="assets/img/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/img/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/img/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/img/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/img/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/img/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/apple-touch-icon-180x180.png">
    <meta name="apple-mobile-web-app-title" content="James Madson">
    <link rel="icon" type="image/png" href="assets/img/favicon-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="assets/img/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="assets/img/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="assets/img/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="assets/img/favicon-32x32.png" sizes="32x32">
    <meta name="application-name" content="James Madson">

    <% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" />
    <% }); %>
  </head>
  <body>
    <header class="headroom">
      <nav class="jm-nav">
        <a href="/">
          <div class="jm-secondary-logo">jm</div>
        </a>
        <h1>About</h1>
      </nav>
    </header>

    <div class="project-detail">
      <div class="top-detail aboutjames vcard social">
        <div class="right">
          <ul class="social-list">
            <li class="social-list-item twitter">
              <a href="https://www.twitter.com/jamesmadson" class="url" rel="me" target="_blank" title="Twitter">
                <img src="assets/svg/twitter.svg" alt="Twitter">
              </a>
            </li>
            <li class="social-list-item dribbble">
              <a href="https://dribbble.com/jamesmadson" class="url" rel="me" target="_blank" title="Dribbble">
                <img src="assets/svg/dribbble.svg" alt="Dribbble">
              </a>
            </li>
            <li class="social-list-item github">
              <a href="https://www.github.com/jamesmadson" class="url" rel="me" target="_blank" title="Github">
                <img src="assets/svg/github.svg" alt="Github">
              </a>
            </li>
            <li class="social-list-item instagram">
              <a href="https://instagram.com/jamesmadson/" class="url" rel="me" target="_blank" title="Instagram">
                <img src="assets/svg/instagram.svg" alt="Instagram">
              </a>
            </li>
            <li class="social-list-item strava">
              <a href="https://strava.com/athletes/jamesmadson/" class="url" rel="me" target="_blank" title="Strava">
                <img src="assets/svg/strava.svg" alt="Strava">
              </a>
            </li>
            <!--<li class="social-list-item">
              <a href="mailto:james@jamesmadson.me" class="url" target="_blank" title="Email">
                <img src="assets/svg/email.svg" alt="Email">
              </a>
            </li>-->
          </ul><!-- .social-list -->
      </div>
    </div>

    <div class="project-detail">
      <div class="top-detail about">
      </div>
      <div class="project-pieces">
        <div class="piece textquote">
          <p>Hey! I’m James Madson, an independent digital designer living in Flagstaff, Arizona. Over the last 10+ years I’ve gotten to work alongside various organizations, from small startups to global brands.</p>

          <p>My focus is mostly on web-based products, working solo and with teams, crafting interactive user experiences while also developing new processes within organizations.</p>

          <img src="assets/img/james-middle-teton.jpg" />

          <p>I enjoy all aspects of product design, from jumping into front-end code to making paper and digital prototypes, as well as conducting user research, coaching design teams, meeting with and presenting to stakeholders, bridging design and business goals – and even bringing donuts to meetings.</p>

          <p><a href="mailto:james@jamesmadson.me" class="contact-btn">Contact Me</a></p>


        </div>

      </div><!-- .project-pieces -->
    </div><!-- .project-detail -->
    <!-- Typekit -->
    <script src="https://use.typekit.net/eel2ffw.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <script async src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="bower_components/jquery/dist/jquery.min.js"><\/script>')</script>
    <script src="bower_components/PACE/pace.min.js"></script>

    <script src="bower_components/headroom.js/dist/headroom.min.js"></script>
    <script src="bower_components/scrollreveal/dist/scrollreveal.min.js"></script>

    <script>
      // JavaScript
      window.sr = ScrollReveal();
      sr.reveal('.piece img', { delay: 200, duration: 1200 });
      sr.reveal('.piece p', { delay: 200, duration: 1200 });
    </script>

    <script>
      var myElement = document.querySelector("header");
      // construct an instance of Headroom, passing the element
      var headroom  = new Headroom(myElement, {
        "offset": 105,
        "tolerance": 5
      });
      // initialise
      headroom.init();
    </script>

    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-5440985-16');ga('send','pageview');
    </script>
  </body>
</html>
