<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>James Madson | Ampersand Conference 2015</title>
    <meta name="description" content="James Madson is a web designer travelling the world.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="57x57" href="assets/img/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/img/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/img/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/img/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/img/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/img/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/apple-touch-icon-180x180.png">
    <meta name="apple-mobile-web-app-title" content="James Madson">
    <link rel="icon" type="image/png" href="assets/img/favicon-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="assets/img/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="assets/img/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="assets/img/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="assets/img/favicon-32x32.png" sizes="32x32">
    <meta name="application-name" content="James Madson">

    <% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" />
    <% }); %>
  </head>
  <body>
    <nav class="sidenav">
      <a href="/mindset" class="previous" rel="prev">
        <img src="assets/svg/arrow.svg" alt="Mindset">
      </a>
      <a href="/chefstable" class="next" rel="next">
        <img src="assets/svg/arrow.svg" alt="Chefstable">
      </a>
    </nav>
    <header class="headroom">
      <nav class="jm-nav">
        <a href="/">
          <div class="jm-secondary-logo">jm</div>
        </a>
        <h1>Ampersand</h1>
      </nav>
    </header>

    <div class="project-detail">
      <div class="top-detail ampersand">
      </div>
      <div class="project-pieces">
        <div class="piece textquote">
          <p class="lead-desc">A website design for the UK's premier typography conference presented by <a href="http://www.clearleft.com" target="_blank">Clearleft</a>.</p>
          <p class="role"><strong>Client:</strong><br />
          Clearleft<br />
          <strong>Role:</strong><br />
          Visual Design</br />
          <strong>Scope:</strong><br />
          Website<br />
          <strong>Featured:</strong><br />
          <a href="https://www.typewolf.com/site-of-the-day/ampersand-2015" target="_blank">Typewolf.com</a>
          <br /><br />
          </p>
          <br />
          <br />
          <p>I had the amazing opportunity to intern with Clearleft, one of the top web design agencies in the world, at their agency in Brighton, England.</p>

          <p>One of my main projects while there was to design a unique, responsive, typography-focused website for Clearleft's annual <a href="http://2015.ampersandconf.com/" target="_blank">Ampersand</a> Conference. Visitors to the site needed to know the conference speakers, schedule, workshops, locations and sponsors.</p>

          <div class="mobile-scroll">
            <img src="assets/img/ampersand/ampersand-mobile.jpg" srcset="" desc="" alt="Ampersand Mobile">
          </div>

          <p>At first, I felt as though I was fumbling through the project with the ever gracious and type-savvy <a href="http://clagnut.com/" target="_blank">Richard Rutter</a> overseeing my work. I made mistakes from the get go, being over ambitious and jumping straight into mockups without sketching first.</p>

          <p>Not all was lost however, and with new content and information coming into the project each week, I revised and adapted designs multiple times while learning a ton about grid layouts, content/mobile first and the beauty and subtly that is typography with the <a href="http://thequestaproject.com/" target="_blank">Questa font family</a> at the center.</p>

          <img src="assets/img/ampersand/ampersand_home.png" srcset="" desc="" alt="">

          <img src="assets/img/ampersand/ampersand_schedule.png" srcset="" desc="" alt="">

          <img src="assets/img/ampersand/ampersand_location.png" srcset="" desc="" alt="">
      </div><!-- .project-pieces -->
    </div><!-- .project-detail -->
    <!-- Typekit -->
    <script src="https://use.typekit.net/eel2ffw.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <script async src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="bower_components/jquery/dist/jquery.min.js"><\/script>')</script>
    <script src="bower_components/PACE/pace.min.js"></script>

    <script src="bower_components/headroom.js/dist/headroom.min.js"></script>
    <script src="bower_components/scrollreveal/dist/scrollreveal.min.js"></script>

    <script>
      // JavaScript
      window.sr = ScrollReveal();
      sr.reveal('.piece img', { delay: 200, duration: 1200 });
      sr.reveal('.piece p', { delay: 200, duration: 1200 });
    </script>

    <script>
      var myElement = document.querySelector("header");
      // construct an instance of Headroom, passing the element
      var headroom  = new Headroom(myElement, {
        "offset": 105,
        "tolerance": 5
      });
      // initialise
      headroom.init();
    </script>

    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-5440985-16');ga('send','pageview');
    </script>
  </body>
</html>
