<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>James Madson</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="apple-touch-icon" sizes="57x57" href="assets/img/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="114x114" href="assets/img/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="72x72" href="assets/img/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="144x144" href="assets/img/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="60x60" href="assets/img/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="120x120" href="assets/img/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="152x152" href="assets/img/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="assets/img/apple-touch-icon-180x180.png">
        <meta name="apple-mobile-web-app-title" content="James Madson">
        <link rel="icon" type="image/png" href="assets/img/favicon-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="assets/img/favicon-160x160.png" sizes="160x160">
        <link rel="icon" type="image/png" href="assets/img/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="assets/img/favicon-16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="assets/img/favicon-32x32.png" sizes="32x32">
        <meta name="msapplication-TileColor" content="#ff0000">
        <meta name="msapplication-TileImage" content="assets/img/mstile-144x144.png">
        <meta name="application-name" content="James Madson">

        <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
        <link rel="stylesheet" type="text/css" href="assets/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>
        <link rel="stylesheet" type="text/css" href="assets/fonts/ss-social/webfonts/ss-social.css"/>
        <link rel="stylesheet" type="text/css" href="assets/fonts/ss-pika/ss-pika.css"/>
        <link rel="stylesheet" type="text/css" href="assets/css/pace-theme-minimal.css">

        <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
        
        <!-- Typekit -->
        <script type="text/javascript" src="http://use.typekit.com/skc2ixc.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- build:section layout.header -->
        <!-- /build -->

        <!-- build:section views -->
        <!-- /build -->

        <!-- build:section layout.footer -->
        <!-- /build -->

        <!-- build:remove -->
        <!-- /build -->

        <header class="headroom">
          <nav class="jm-nav">
            <a href='#' class='jm-button'>
              <h1>jm</h1>
            </a>

            <div class="sidemenu">
              <nav class="left">
                <img src="assets/img/james-temp.jpeg" alt="jm" description="James Madson">
                <a href="https://www.github.com/jamesmadson" target="_blank"><i class="ss-icon ss-social">Github</i></a>
                <a href="http://www.twitter.com/jamesmadson" target="_blank"><i class="ss-icon ss-social">Twitter</i></a>
                <a href="http://www.dribbble.com/jamesmadson" target="_blank"><i class="ss-icon ss-social">Dribbble</i></a>
                <a href="mailto:james@jamesmadson.me" target="_blank"><i class="ss-icon">Email</i></a>
                <a href="http://www.jamesmadson.me/v1" target="_blank"><i class="ss-icon">floppydisk</i></a>
              </nav>
              <nav class="right">
                <p>My name is James Madson. I am an interdisciplinary designer. I design identities, experiences and develop interfaces for web based products.</p>
              </nav>
            </div>
          </nav>
        </header>
        <div id="projects">
          <a href="jauntly.html" class="jauntly project">
            <h1>Jauntly</h1>
            <span class="underline"></span>
          </a>

          <a href="ans.html" class="ans project">
            <h1>Analytic Spot</h1>
            <span class="underline"></span>
          </a>

          <a href="swiftkick.html" class="swiftkick project">
            <h1>Swiftkick</h1>
            <span class="underline"></span>
          </a>

          <a href="treadhub.html" class="treadhub project">
            <h1>Treadhub</h1>
            <span class="underline"></span>
          </a>

          <a href="eugixd.html" class="eugixd project">
            <h1>Eugene IxD</h1>
            <span class="underline"></span>
          </a>
        </div>

        <!-- build:script inline main -->
        <script type="text/javascript">
            main();
        </script>
        <!-- /build -->

        <!-- build:section optional test -->
        <!-- /build -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="bower_components/html5-boilerplate/js/plugins.js"></script>
        <script src="bower_components/html5-boilerplate/js/main.js"></script>

        <script src="bower_components/headroom.js/dist/headroom.js"></script>
        <script src="bower_components/fastclick/lib/fastclick.js"></script>
        <script src="bower_components/pace/pace.min.js"></script>

        <script src="assets/js/jquery.square_menu.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-5440985-16');ga('send','pageview');
        </script>

        <script>
          var myElement = document.querySelector("header");
          // construct an instance of Headroom, passing the element
          var headroom  = new Headroom(myElement, {
            "offset": 105,
            "tolerance": 5
          });
          // initialise
          headroom.init();
        </script>

        <script>
          $(document).ready( function() {
            $(".sidemenu").square_menu();
          });
        </script>
    </body>
</html>
