<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>James Madson | Interactive Designer</title>
    <meta name="description" content="James Madson is a web designer travelling the world.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="57x57" href="assets/img/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/img/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/img/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/img/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/img/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/img/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/apple-touch-icon-180x180.png">
    <meta name="apple-mobile-web-app-title" content="James Madson">
    <link rel="icon" type="image/png" href="assets/img/favicon-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="assets/img/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="assets/img/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="assets/img/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="assets/img/favicon-32x32.png" sizes="32x32">
    <meta name="application-name" content="James Madson">

    <!-- Typekit -->
    <script src="https://use.typekit.net/eel2ffw.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" />
    <% }); %>
  </head>

  <body>
    <nav class="main-nav">
     <a href="about">About</a>
     <!--<a href="contact">Contact</a>
     <a href="resume">Resume</a>-->
   </nav>
    <div class="project-detail">
      <div class="top-detail aboutjames vcard">
        <div class="right">
          <h1 class="p-note"><span class="nickname">James<br /> Madson</span></h1>
          <h3 class="p-note">Digital Designer</h3>
      </div>
    </div>
    <div class="projects">
      <h2 class="my-work">Featured Work</h2>
      <a href="hokaoneone" class="hoka project" title="Hoka One One">
        <div class="project-name">Hoka One One</div>
      </a>
      <a href="mindset" class="mindset project" title="Mindset">
        <div class="project-name">Mindset</div>
      </a>
      <a href="ampersand" class="ampersand project" title="Ampersand Conference 2015">
        <div class="project-name">Ampersand Conference 2015</div>
      </a>
      <a href="chefstable" class="chefstable project" title="Chefs Table">
        <div class="project-name">Chefs Table</div>
      </a>
      <a href="treadhub" class="treadhub project" title="Treadhub">
        <div class="project-name">Treadhub</div>
      </a>
      <!--<a href="jauntly" class="jauntly project" title="Jauntly">
        <div class="project-name">Jauntly</div>
      </a>

      <a href="ans" class="ans project" title="Analytic Spot">
        <div class="project-name">Analytic Spot</div>
      </a>
    </div><!-- .projects -->

    <script async src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="bower_components/jquery/dist/jquery.min.js"><\/script>')</script>
    <script src="bower_components/PACE/pace.min.js"></script>
    <script src="bower_components/scrollreveal/dist/scrollreveal.min.js"></script>

    <script>
      // JavaScript
      window.sr = ScrollReveal();
      sr.reveal('.project', { delay: 800, duration: 2000 }, 50);
      sr.reveal('.my-work', { delay: 800, duration: 2000 });
      sr.reveal('h1', { delay: 400, duration: 2000 });
      sr.reveal('h3', { delay: 800, duration: 2000 });
      sr.reveal('.main-nav', { delay: 1000, duration: 2000, origin: 'top' });
    </script>

    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-5440985-16');ga('send','pageview');
    </script>
<script>
// Register our service-worker
if (navigator.serviceWorker) {
    navigator.serviceWorker.register('/serviceworker.js', {
        scope: '/'
    });
    window.addEventListener('load', function() {
        if (navigator.serviceWorker.controller) {
            navigator.serviceWorker.controller.postMessage({'command': 'trimCaches'});
        }
    });
}
//-->
</script>
  </body>
</html>
