<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>James Madson</title>
    <meta name="description" content="James Madson is a web designer travelling the world.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="57x57" href="assets/img/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/img/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/img/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/img/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/img/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/img/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/apple-touch-icon-180x180.png">
    <meta name="apple-mobile-web-app-title" content="James Madson">
    <link rel="icon" type="image/png" href="assets/img/favicon-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="assets/img/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="assets/img/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="assets/img/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="assets/img/favicon-32x32.png" sizes="32x32">
    <meta name="application-name" content="James Madson">

    <% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" />
    <% }); %>    
  </head>

  <body>
    <div class="project-detail">
      <div class="jmbackground"></div>
      <div class="top-detail aboutjames vcard">
        <div class="left">
          <div class="jmlogo">jm</div>
          <img src="assets/img/jamesmadson.jpg" alt="jm" description="James Madson" class="photo fn" />
        </div><!-- .left -->

        <div class="right">
          <h1 class="p-note">Hi, my name is <span class="nickname">James Madson</span><br /> and I’m a <span class="title">web designer</span>.</h1>
          <ul class="social-list">
            <li class="social-list-item">
              <a href="https://www.twitter.com/jamesmadson" class="url" rel="me" target="_blank" title="Twitter">
                <img src="assets/svg/twitter.svg" alt="Twitter">
              </a>
            </li>
            <li class="social-list-item">
              <a href="https://dribbble.com/jamesmadson" class="url" rel="me" target="_blank" title="Dribbble">
                <img src="assets/svg/dribbble.svg" alt="Dribbble">
              </a>
            </li>
            <li class="social-list-item">
              <a href="https://www.github.com/jamesmadson" class="url" rel="me" target="_blank" title="Github">
                <img src="assets/svg/github.svg" alt="Github">
              </a>
            </li>
            <li class="social-list-item">
              <a href="https://instagram.com/jamesmadson/" class="url" rel="me" target="_blank" title="Instagram">
                <img src="assets/svg/instagram.svg" alt="Instagram">
              </a>
            </li>
            <li class="social-list-item">
              <a href="mailto:james@jamesmadson.me" class="url" target="_blank" title="Email">
                <img src="assets/svg/email.svg" alt="Email">
              </a>
            </li>
          </ul><!-- .social-list -->
        </div><!-- .right -->
      </div><!-- .top-detail .aboutjames -->
    </div><!-- .project-detail -->

    <div class="projects">
      <a href="jauntly" class="jauntly project">
        <div class="project-name">Jauntly</div>
      </a>

      <a href="ans" class="ans project">
        <div class="project-name">Analytic Spot</div>
      </a>

      <a href="swiftkick" class="swiftkick project">
        <div class="project-name">Swiftkick</div>
      </a>

      <a href="treadhub" class="treadhub project">
        <div class="project-name">Treadhub</div>
      </a>

      <a href="eugixd" class="eugixd project">
        <div class="project-name">Eugene IxD</div>
      </a>

      <a href="twentyideas" class="twentyideas project">
        <div class="project-name">Twenty Ideas</div>
      </a>
    </div><!-- .projects -->
    <!-- Typekit -->
    <script type="text/javascript" src="http://use.typekit.com/skc2ixc.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <script async src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    <script src="bower_components/pace/pace.min.js"></script>
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-5440985-16');ga('send','pageview');
    </script>
  </body>
</html>