<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>James Madson | Resume</title>
    <meta name="description" content="James Madson is a web designer travelling the world.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="57x57" href="assets/img/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/img/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/img/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/img/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/img/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/img/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/apple-touch-icon-180x180.png">
    <meta name="apple-mobile-web-app-title" content="James Madson">
    <link rel="icon" type="image/png" href="assets/img/favicon-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="assets/img/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="assets/img/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="assets/img/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="assets/img/favicon-32x32.png" sizes="32x32">
    <meta name="application-name" content="James Madson">

    <% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" />
    <% }); %>
  </head>
  <body>
    <header class="headroom">
      <nav class="jm-nav">
        <a href="/">
          <div class="jm-secondary-logo">jm</div>
        </a>
        <h1>Resume</h1>
      </nav>
    </header>

    <div class="project-detail">
      <div class="top-detail about">
      </div>
      <div class="project-pieces">
        <div class="piece textquote">
          <p><strong>James Madson</strong></p>
          <p><strong><a href="mailto=james@jamesmadson.me">james@jamesmadson.me</a></strong></p>
          <ul>
            <li>Highly motivated self-starter and quick learner</li>
            <li>Enthusiastic to meet challenges and quickly produce new concepts</li>
            <li>Takes initiative to identify and solve problems</li>
            <li>Flexible team member with experience in lean and agile processes</li>
          </ul>
          <p><small><i>References available on request</i></small></p>
        </div>
        <div class="piece textquote">

          <h1>Skills</h1>

Fluent in HTML, CSS, Javascript, LESS, SASS, Git, Sketch, Adobe Creative Suite, Adobe Lightroom, Sublime Text

Proficient in Python, Node, D3, Wordpress, SVN, Vim, Bash


          <p><strong>Proficiencies</strong></p>
          <ul>
            <li>Sketch, Photoshop, Illustrator, and Fireworks</li>
            <li>CSS, LESS, SASS</li>
            <li>JS</li>
            <li>HTML 5</li>
            <li>Node</li>
            <li>Grunt</li>
            <li>Bower, Yeoman, Gulp, and Jeckyl</li>
            <li>Wordpress, Angular, Django, and Rails</li>
            <li>InVision and Marvel</li>
            <li>Bootstrap, Foundation, Suzy, and Skeleton</li>
          </ul>
        </div>
        <div class="piece textquote">
          <p><strong>Web Designer & Front End Developer<br />
          JM Design & Development | Eugene, OR | 2013 - Present</strong></p>
          <ul>
            <li>Meet with clients and plan and review project process</li>
            <li>Design and develop web interfaces for applications</li>
            <li>Join teams as collaborative consultant / designer to achieve product launch deadlines</li>
            <li>Manage several projects at any given time</li>
          </ul>
        </div>
        <div class="piece textquote">
          <p><strong>Intern<br />
          <a href="http://www.clearleft.com">Clearleft</a> | Brighton, UK | Feb 2015 - May 2015</strong></p>
          <ul>
            <li>Facilitate beta testing for Silverback app</li>
            <li>User experience design</li>
            <li>Visual design</li>
            <li>Reading and learning!</li>
          </ul>
        </div>
        <div class="piece textquote">
          <p><strong>Lead Designer & Front End Developer<br />
          <a href="http://www.orcasinc.com/">ORCAS</a> | Eugene, OR | 2010 - 2013</strong></p>
          <ul>
            <li>Lead the design of Jauntly, a goals-based responsive web app that was featured as one of the first apps on both the Amazon and Firefox marketplaces</li>
            <li>Created wireframes and UX flows</li>
            <li>Developed front-end interfaces</li>
            <li>Managed design projects</li>
            <li>Established product identities</li>
          </ul>
        </div>
        <div class="piece textquote">
          <p><strong>Designer & Production Manager<br />
          <a href="http://www.harrisd.com">Harris Design & Print</a> | Eugene, OR | 2007 - 2010</strong></strong></p>
          <ul>
            <li>Developed websites and online stores</li>
            <li>Managed large format print production department</li>
            <li>Installed vinyl graphics</li>
          </ul>
        </div>

      </div><!-- .project-pieces -->
    </div><!-- .project-detail -->
    <!-- Typekit -->
    <script src="https://use.typekit.net/eel2ffw.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <script async src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="bower_components/jquery/dist/jquery.min.js"><\/script>')</script>
    <script src="bower_components/PACE/pace.min.js"></script>

    <script src="bower_components/headroom.js/dist/headroom.min.js"></script>
    <script src="bower_components/scrollreveal/dist/scrollreveal.min.js"></script>

    <script>
      // JavaScript
      window.sr = ScrollReveal();
      sr.reveal('.piece img', { delay: 200, duration: 1200 });
      sr.reveal('.piece p', { delay: 200, duration: 1200 });
    </script>

    <script>
      var myElement = document.querySelector("header");
      // construct an instance of Headroom, passing the element
      var headroom  = new Headroom(myElement, {
        "offset": 105,
        "tolerance": 5
      });
      // initialise
      headroom.init();
    </script>

    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-5440985-16');ga('send','pageview');
    </script>
  </body>
</html>
