<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>James Madson | Treadhub</title>
    <meta name="description" content="James Madson is a web designer travelling the world.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="57x57" href="assets/img/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/img/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/img/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/img/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/img/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/img/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/apple-touch-icon-180x180.png">
    <meta name="apple-mobile-web-app-title" content="James Madson">
    <link rel="icon" type="image/png" href="assets/img/favicon-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="assets/img/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="assets/img/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="assets/img/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="assets/img/favicon-32x32.png" sizes="32x32">
    <meta name="application-name" content="James Madson">

    <% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" />
    <% }); %>
  </head>
  <body>
    <nav class="sidenav">
      <a href="/chefstable" class="previous" rel="prev">
        <img src="assets/svg/arrow.svg" alt="Chefstable">
      </a>
      <a href="/" class="next" rel="next">
        <img src="assets/svg/arrow.svg" alt="JM Home">
      </a>
    </nav>
    <header class="headroom">
      <nav class="jm-nav">
        <a href="/">
          <div class="jm-secondary-logo">jm</div>
        </a>
        <h1>Treadhub</h1>
      </nav>
    </header>

    <div class="project-detail">
      <div class="top-detail treadhub">
      </div>
      <div class="project-pieces">
      	<div class="piece textquote">
          <p class="lead-desc">A personal side project turned sports-tracking startup. All your training in one place.</p>
      		<p class="role"><strong>Role:</strong><br />
            Name<br />
            Identity<br />
            User Experience<br />
            User Interface<br />
            Front-end Development<br />
            Co-Founder<br /><br />
            <strong>Scope:</strong><br />
              Web app<br />
              <br />
          </p><br /><br />
          <p>Treadhub was one of my many side projects, but unlike the others, it passed the validity test: people wanted it.</p>

          <p>We launched our beta more than a year after working on the product: a responsive web-based app that athletes and their coaches could use to track their training and tell their friends and the world about their fitness goals and progress.</p>

          <p>Nick, my friend and developer/engineer, and myself worked on nights and weekends giving our spare time to Treadhub. We learned a lot about business plans, product design, new technologies and much more. It's still available for our loyal users who enjoy tracking all their training in one place.</p>

          <img src="assets/img/treadhub/800x450-treadhub-logo.jpg" srcset="" desc="" alt="" data-scroll-reveal="enter from the left">

          <img src="assets/img/treadhub/1600x3400-treadhub-home-desktop.jpg" srcset="" desc="" alt="">

          <img src="assets/img/treadhub/800x800-treadhub-sketch.jpg" srcset="" desc="" alt="" data-scroll-reveal="enter from the left">
        </div>
        <div class="piece sm">
          <img src="assets/img/treadhub/800x1600-treadhub-ios.jpg" srcset="" desc="">
        </div>
      </div><!-- .project-pieces -->
    </div><!-- .project-detail -->
    <!-- Typekit -->
    <script src="https://use.typekit.net/eel2ffw.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <script async src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="bower_components/jquery/dist/jquery.min.js"><\/script>')</script>
    <script src="bower_components/PACE/pace.min.js"></script>

    <script src="bower_components/headroom.js/dist/headroom.min.js"></script>
    <script src="bower_components/scrollreveal/dist/scrollreveal.min.js"></script>

    <script>
      // JavaScript
      window.sr = ScrollReveal();
      sr.reveal('.piece img', { delay: 200, duration: 1200 });
      sr.reveal('.piece p', { delay: 200, duration: 1200 });
    </script>

    <script>
      var myElement = document.querySelector("header");
      // construct an instance of Headroom, passing the element
      var headroom  = new Headroom(myElement, {
        "offset": 105,
        "tolerance": 5
      });
      // initialise
      headroom.init();
    </script>

    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-5440985-16');ga('send','pageview');
    </script>
  </body>
</html>
