---
layout: base.njk
---
<article class="project">
  <header class="project-header">
    <div class="container">
      <h1>{{ title }}</h1>
      {% if client %}<p class="client">Client: {{ client }}</p>{% endif %}
      {% if roles %}<p class="roles">Roles: {{ roles }}</p>{% endif %}
    </div>
  </header>

  <section class="project-intro container">
    {{ intro | safe }}
  </section>

  {% if gallery %}
  <section class="project-gallery container">
    {% for img in gallery %}
      <figure>
        <img src="{{ img }}" alt="">
      </figure>
    {% endfor %}
  </section>
  {% endif %}

  <section class="project-body container">
    {{ content | safe }}
  </section>
</article>
